<div class="row">
			<div class="col-lg-6">
					Enter Page Title:-
				</div>
				<div class="col-lg-6">
					<%= select("slider", "page_id", @page.collect {|p| [ p.title, p.id ] }, { include_blank: true })%>
					
				</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
					Enter Picture:-
				</div>
				<div class="col-lg-6">

					 
					<%= f.file_field("pic") %>
					<%= @test %>
				</div>
		</div>