<table class="table table-bordered">
	<thead>
			<tr>
				<td>Id</td>
				<td>Page Title</td>
				<td>Pictures</td>
			</tr>
	</thead>
			<tr class="danger">
				<td><%= @us.id %></td>
				<td><%= @us.page.title %></td>
				<td><%= @us.pic %></td>
			</tr>
			<%= button_to('Back to view page', :action=>'view', :class => 'btn btn-primary')  %>
				

</table>