<div class="row">
					<section class="12u">
						
						<header>
							<h2><%= @page.title.html_safe %></h2>
						</header>
						<p><%= @page.description.html_safe %></p>
					</section>				
								
				</div>
    